<h1 class="text-center"> Categories </h1>
<div class="container">
  <%= render 'categories' %>
</div>

<footer class="footer" >
  <div class="fixed-bottom d-flex justify-content-center" style="height:60px">
    <%= link_to "Add a new category", new_group_path, class: "btn btn-primary btn-large btn-success ", style:"width:60%"%>
  </div>
</footer>