<div class="background-layout">

      <div class="container">
        <div>
          <h1 class="title text-center display-6 text-muted">Budget app</h1>
        </div>
        
        <div class="row gap-3 padding centered">
          <%= link_to 'Log in', user_session_path, class: 'btn btn-info text-nowrap row'%>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success text-nowrap row'%>
        </div>
        
      </div>

   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>

</div>